body {
  background: white;
  color: black;
  font-family: Georgia, serif;
  font-size: 11pt;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4 {
  font-family: Calibri, sans-serif;
  margin: 0;
}

img {
  border: 0;
}

pre,
code,
a code {
  color: #060;
}

h2 a,
h3 a {
  color : #666;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #3b5998;
}

table {
  border-collapse: collapse;
  border: 0;
}

td {
  border: 0;
  padding: 0;
}

#body {
  margin: auto;
  max-width: 850px;
}

#header {
  margin-bottom: 15px;
  margin-right: 30px;
  text-align: center;
}

#content,
#footer {
  margin-left: 31px;
  margin-right: 31px;
}

#content p,
#content li,
#footer {
  line-height: 16pt;
}

#content pre {
  line-height: 14pt;
  margin: 17pt;
  padding-left: 1em;
  border-left: 1px solid #ccc;
}

#footer {
  margin-top: 1em;
}

#content h1,
#content h2,
#content h3 {
  color: #666;
  margin-bottom: 2pt;
  margin-top: 17pt;
}

#content h2 {
  font-size: 19pt;
}

#content h3 {
  font-size: 15pt;
}

#content p {
  margin: 0;
  margin-bottom: 1em;
}

#content td,
#content th {
  padding: 5px;
}

#content td {
  border-top: 1px solid #DDD;
}

#content th {
  color: #666;
  text-align: left;
}
.enum {
  -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
  }
@media (min-width: 25rem) {
  .enum {
    -webkit-columns: 2 10rem;
    -moz-columns: 2 10rem;
    columns: 2 10rem;
  }
}
@media (min-width: 39rem) {
  .enum {
    -webkit-columns: 3 10rem;
    -moz-columns: 3 10rem;
    columns: 3 10rem;
  }
}
